.entry {
    width: 100%;
    min-height: 1080px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1045px) {
    .entry {
        min-height: 1024px;
    }
}

@media screen and (max-width: 767px) {
    .entry {
        min-height: 568px;
    }
}